/**
 * This injects Tailwind's base styles and any base styles registered by plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus, responsive, dark mode, and other variants of each class.
 * If omitted, Tailwind will append these classes to the very end of your stylesheet by default.
 */
/*@tailwind variants;*/


/********************************
    RESET
 ********************************/
html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/********************************
    DIRECTIVES
 ********************************/

/*@layer base {*/
/*    h1 {*/
/*        font-weight: bold;*/
/*        font-size: 2rem*/
/*    }*/


/*    h6 {*/
/*        @apply text-xl italic*/
/*    }*/
/*}*/

/*@layer components {*/
/*    .btn-blue {*/
/*        @apply bg-blue-500 py-2 px-4 rounded-xl font-bold hover:bg-blue-700 text-white*/
/*    }*/
/*}*/

/*.content-area {*/
/*    @apply bg-green-200;*/
/*    height: theme('spacing.128');*/
/*}*/

/*@media screen(xl) {*/
/*    body {*/
/*        @apply bg-black text-white*/
/*    }*/
/*}*/